<body>
  <!-- Navbar</nav> -->
  <nav class="navbar">
    <div class="logo">
      <img src="assets/crmimg1.jpg" alt="Logo" class="logo-img" />
      Customer Relationship Management
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/marketing" routerLinkActive="active">Marketing</a></li>
      <li><a href="#" class="logout-btn" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</body>
